.brands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 46px;
}

.brands div {
  width: 112px;
  height: 24px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .brands {
    flex-wrap: wrap;
  }

  .brands > * {
    padding: 1.4rem 1rem;
  }

  .brands div {
    width: 50px;
  }
}
