.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features__heading h3 {
  font-size: 34px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 45px;
}

.features__heading p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
  line-height: 30px;
  color: var(--color-subtext);
  padding-top: 1rem;
}

.features__list .feature {
  padding-bottom: 2.3rem;
}

.features__list .feature__title h3 {
  padding-top: 0.4rem;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: -0.04em;
}

.features__list .feature__title p {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.04em;
}
