.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features__heading h3 {
  font-size: 34px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 45px;
  width: 426px;
}

.features__heading p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
  line-height: 30px;
  color: var(--color-subtext);
  padding-top: 1rem;
}

.features__list {
  width: 690px;
}

.features__list .feature {
  padding-bottom: 2.3rem;
}

.features__list .feature__title h3 {
  padding-top: 0.4rem;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: -0.04em;
}

.features__list .feature__description p {
  padding-left: 5rem;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1024px) {
  .features__list {
    width: 490px;
  }

  .features__list .feature__description p {
    padding-left: 0.5rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .features__heading p {
    padding: 2rem 0;
  }

  .features__heading,
  .features__heading h3,
  .features__list {
    width: 100%;
  }

  .features__list .feature__title {
    padding-top: 1rem;
  }

  /* .features__list .feature__title h3 {
    width: 280px;
  } */

  .features__list .feature__description p {
    padding: 1rem 0 0 0;
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .features {
    flex-direction: column;
  }

  .features__heading p {
    padding: 2rem 0;
  }

  .features__heading,
  .features__heading h3,
  .features__list {
    width: 100%;
  }

  .features__list .feature__title {
    padding-top: 1rem;
  }

  .features__list .feature__title h3 {
    width: 280px;
  }

  .features__list .feature__description p {
    padding: 1rem 0 0 0;
    width: 100%;
    font-size: 16px;
  }
}
