.blog__maintext {
  font-size: 62px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 75px;
  color: var(--color-text);
  letter-spacing: -0.04em;
  width: 701px;
  padding-bottom: 6.4rem;
}

.blog__articles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blog__articles-left {
  flex: 0.75;
  margin-right: 0.2rem;
}

.blog__articles-left > .article {
  width: 490px;
}

.blog__articles-left > .article > .article__meta {
  height: 408px;
}

.blog__articles-right > .article > .article__imgContainer > img {
  height: 150px;
  width: 360px;
  object-fit: 100%;
}

.blog__articles-right > .article > .article__meta {
  height: 193px;
}

.blog__articles-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
}

.blog__articles-right > .article {
  width: 360px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .blog__articles {
    display: block;
    /* flex-direction: column; */
  }

  .blog__articles-left > .article {
    width: 100%;
  }

  .blog__articles-left > .article > .article__meta {
    height: 170px;
  }

  .blog__articles-right > .article {
    width: 47%;
    margin: 0;
  }

  .blog__articles-right {
    flex: 1;
    margin-top: 22rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* .blog__articles-left > .article {
    width: 100%;
  }

  .blog__articles-left {
   
    margin-bottom: 15rem;
    width: 100%;
  }

  .blog__articles-left > .article > .article__meta {
    height: 200px;
  }

  

  .blog__articles-right > .article {
    width: 100%;
    margin: auto;
  }

  .blog__articles-right > .article > .article__imgContainer > img {
    height: 150px;
    width: 100%;
    object-fit: 100%;
  }

  .blog__articles-left > .article > .article__meta h4,
  .blog__articles-right > .article > .article__meta h4 {
    width: 100%;
  } */
}

@media screen and (max-width: 640px) {
  .blog__maintext {
    width: 100%;
    font-size: 55px;
  }

  .blog__articles {
    flex-direction: column;
  }

  .blog__articles-left > .article {
    width: 100%;
  }

  .blog__articles-left {
    flex: 1;
    margin-bottom: 10rem;
    width: 100%;
  }

  .blog__articles-left > .article > .article__meta {
    height: 200px;
  }

  .blog__articles-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .blog__articles-right > .article {
    width: 100%;
    margin: auto;
  }

  .blog__articles-right > .article > .article__imgContainer > img {
    height: 150px;
    width: 100%;
    object-fit: 100%;
  }

  .blog__articles-left > .article > .article__meta h4,
  .blog__articles-right > .article > .article__meta h4 {
    width: 100%;
  }
}
