.blog__maintext {
  font-size: 62px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 75px;
  color: var(--color-text);
  letter-spacing: -0.04em;
  width: 701px;
  padding-bottom: 6.4rem;
}

.blog__articles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blog__articles-left {
  flex: 0.75;
  margin-right: 0.2rem;
}

.blog__articles-left > .article {
  width: 490px;
}

.blog__articles-left > .article > .article__meta {
  height: 408px;
}

.blog__articles-right > .article > .article__imgContainer > img {
  height: 150px;
  width: 360px;
  object-fit: 100%;
}

.blog__articles-right > .article > .article__meta {
  height: 193px;
}

.blog__articles-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
}

.blog__articles-right > .article {
  width: 360px;
  margin: auto;
}
