.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.navbar__logo-container img {
  /* padding-top: 10px; */
  width: 63px;
  height: 16px;
}

.navbar__links-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__links-container p,
.navbar__cta p {
  padding: 0 1rem;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.navbar__cta button {
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: #ff4820;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.navbar__mobile-toggle {
  display: none;
}

.navbar svg {
  color: white;
  height: 1.5em;
  width: 1.5em;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__mobile-toggle {
    display: block;
  }

  .navbar__links-container {
    flex: 0;
  }

  .navbar__links-container,
  .navbar__cta {
    display: none;
  }
}
