.possibility {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.possibility__img-container {
  max-width: 100%;
}

.possibility__img-container img {
  max-width: 100%;
  /* height: 100%; */
}

.possibility__content--header {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 30px;
  color: #71e5ff;
  padding: 1rem 0;
}

.possibility__content--maintext {
  font-size: 34px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 45px;
  /* padding: 1rem 0; */
}

.possibility__content--subtext,
.possibility__content--footer {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 30px;
  color: var(--color-text);
  padding: 1rem 0;
}

.possibility__content--footer {
  color: var(--color-subtext);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .possibility__img-container {
    max-width: 50%;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .possibility {
    flex-direction: column;
  }
}
