.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hero-info {
  width: 70%;
}

.header__maintext {
  font-weight: 800;
  font-size: 62px;
  font-family: var(--font-family);
  line-height: 75px;
  letter-spacing: -0.04em;
}

.header__subtext {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-family);
  line-height: 27px;
  color: var(--color-text);
  padding: 2rem 0;
}

.header__cta input {
  background: #052d56;
  color: #3d6184;
  padding: 1rem;
  border: none;
  font-size: 20px;
  outline: none;
  font-family: var(--font-family);
  width: 450px;
  border-radius: 5px 0 0 5px;
  font-weight: 400;
}

.header__cta button {
  background: #ff4820;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding: 1rem;
  border: none;
  outline: none;
  font-family: var(--font-family);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.header__request-info {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__request-info small {
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  font-family: var(--font-family);
  padding-left: 1rem;
  color: #fff;
}

.header__hero-image {
  width: 80%;
}

.header__hero-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }

  .header__hero-info {
    width: 100%;
    /* text-align: center; */
  }

  .header__maintext {
    font-size: 56px;
  }

  .header__subtext {
    font-size: 16px;
  }

  .header__cta {
    width: 100%;
  }

  .header__cta input {
    width: 65%;
  }

  .header__cta button {
    width: 35%;
    padding: 1rem;
  }

  /* .header__request-info {
    flex-direction: column;
    align-items: flex-start;
  } */

  /* .header__request-info small {
    padding: 0;
    font-size: 11.4px;
  } */

  .header__hero-image {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .header {
    flex-wrap: wrap;
  }

  .header__hero-info {
    width: 100%;
    /* text-align: center; */
  }

  .header__maintext {
    font-size: 56px;
  }

  .header__subtext {
    font-size: 16px;
  }

  .header__cta {
    width: 100%;
  }

  .header__cta input {
    /* padding: 1rem; */
    font-size: 12px;
    width: 65%;
  }

  .header__cta button {
    font-size: 12px;
    width: 35%;
    padding: 1rem;
  }

  .header__request-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__request-info small {
    padding: 0;
    font-size: 11.4px;
  }

  .header__hero-image {
    width: 100%;
  }
}
